{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 1000,
  "plugins": [
    "prettier-plugin-sql",
    "prettier-plugin-ejs"
  ],
  "overrides": [
    {
      "files": "*.sql",
      "options": {
        "language": "mysql"
      }
    }
  ]
}