<br /><br />
<div class="d-flex justify-content-between">
  <h1 class="commanHeading">Generate Reports :<b> </b></h1>
</div>
<div class="body table-responsive">
  <table class="table table-striped table-bordered">
    <tr>
      <td><b>Export Reports for Scrape Failures : </b></td>
      <td>
        <a href="/report/scrape_failure"
          ><i class="fa-solid fa-play"></i>&nbsp; &nbsp;Export</a
        >
      </td>
    </tr>
  </table>
</div>
<hr />
<script src="/javascripts/report.js"></script>
