<div class="card">
  <div class="card-body">
    <form method="post" autocomplete="off" id="add_item_form_tradent">
      <input type="hidden" value="Tradent" name="tradent_vendors" />
      <div class="row no-gutters">
        <div class="form-group col-3">
          <label for="tradent_channel_name" class="font-weight-bold">
            Channel Name <span style="color: red; font-weight: bold">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            value=""
            name="tradent_channel_name"
            placeholder="Channel Name"
          />
        </div>
        <div class="form-group col-3">
          <label for="tradent_executionPriority" class="font-weight-bold"
            >Execution Priority :</label
          >
          <br />
          <select
            class="form-select form-control"
            name="tradent_executionPriority"
            aria-label="Default select example"
          >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="form-group col-3">
          <label for="tradent_percentageIncrease" class="font-weight-bold"
            >Reprice Up %</label
          >
          <input
            type="number"
            class="form-control"
            value=""
            name="tradent_percentageIncrease"
            placeholder="Reprice Up %"
            min="0"
            max="100"
          />
        </div>
        <div class="form-group col-3" name="divBadgePercentage">
          <label for="tradent_badgePercentage" class="font-weight-bold"
            >Reprice UP Badge Percentage %</label
          >
          <input
            type="number"
            class="form-control"
            value=""
            name="tradent_badgePercentage"
            placeholder="Badge Percentage (%)"
            min="0"
            max="100"
          />
        </div>
      </div>
      <div class="row no-gutters">
        <div class="form-group col-3">
          <label for="tradent_sisterVendorId" class="font-weight-bold"
            >Sister Vendor Id (Separated by [;])</label
          >
          <input
            type="text"
            class="form-control"
            value=""
            name="tradent_sisterVendorId"
            placeholder="Sister Vendor Id"
          />
        </div>
        <div class="form-group col-3">
          <label for="tradent_inactiveVendorId" class="font-weight-bold"
            >Inactive Vendor Id (Separated by [;])</label
          >
          <input
            type="text"
            class="form-control"
            value=""
            name="tradent_inactiveVendorId"
            placeholder="Inactive Vendor Id"
          />
        </div>
        <div class="form-group col-3">
          <label for="tradent_override_bulk_rule" class="font-weight-bold"
            >Override Bulk Update (Up/Down) :</label
          >
          <select
            class="form-select form-control"
            name="tradent_override_bulk_rule_select"
            aria-label="Default select example"
          >
            <option value="-1">-- Please Select --</option>
            <option value="0">Only Up</option>
            <option value="1">Only Down</option>
            <option value="2">Both</option>
          </select>
        </div>
        <div class="form-group col-3">
          <label for="tradent_handling_time_filter" class="font-weight-bold"
            >Handling Time Group :</label
          >
          <select
            class="form-select form-control"
            name="tradent_handling_time_filter"
            aria-label="Default select example"
            onchange="enablePercentageData(this)"
          >
            <option value="ALL">All</option>
            <option value="FAST_SHIPPING">1-2 days (Fast Shipping)</option>
            <option value="STOCKED">1-5 days (Stocked)</option>
            <option value="LONG_HANDLING">6+ days (Long Handling)</option>
          </select>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="form-group col-3">
          <label for="tradent_excludedVendors" class="font-weight-bold"
            >Excluded Vendor(s) (Separated by [;])</label
          >
          <input
            type="text"
            class="form-control"
            name="tradent_excludedVendors"
            placeholder="Excluded Vendor Ids"
          />
        </div>
        <div class="form-group col-3">
          <label for="tradent_inventoryThreshold" class="font-weight-bold"
            >Inventory Competition Threshold</label
          >
          <input
            type="number"
            class="form-control"
            name="tradent_inventoryThreshold"
            placeholder="Inventory Competition Threshold"
            min="0"
            max="100"
          />
        </div>
        <div class="form-group col-3">
          <label for="tradent_percentageDown" class="font-weight-bold"
            >Reprice Down %</label
          >
          <input
            type="number"
            class="form-control"
            name="tradent_percentageDown"
            placeholder="Reprice Down %"
            min="0"
            max="1"
          />
        </div>
        <div class="form-group col-3">
          <label for="tradent_badgePercentageDown" class="font-weight-bold"
            >Reprice Down Badge %</label
          >
          <input
            type="number"
            class="form-control"
            name="tradent_badgePercentageDown"
            placeholder="Reprice Down Badge %"
            min="0"
            max="1"
            step="0.001"
          />
        </div>
      </div>
      <div class="row no-gutters">
        <div class="form-group col-3">
          <label class="switch">
            <input type="checkbox" name="tradent_Scrape_on_off" />
            <span class="slider"></span>
          </label>
          <label for="" class="font-weight-bold">
            Reprice - Scrape
            <span style="color: red; font-weight: bold">*</span>
          </label>
          <!-- <h6 class="mb-0 mt-3" class="font-weight-bold">Override Existing</h6> -->
        </div>
        <div class="form-group col-3">
          <label class="switch">
            <input type="checkbox" name="tradent_Reprice_on_off" />
            <span class="slider"></span>
          </label>
          <label for="" class="font-weight-bold">Reprice</label>
        </div>
        <div class="form-group col-3">
          <label class="switch">
            <input type="checkbox" name="tradent_suppressPriceBreak" />
            <span class="slider"></span>
          </label>
          <label for="" class="font-weight-bold">Suppress Price Break</label>
        </div>
        <div class="form-group col-3">
          <label class="switch">
            <input type="checkbox" name="tradent_competeAll" />
            <span class="slider"></span>
          </label>
          <label for="" class="font-weight-bold"
            >Compete with all vendors</label
          >
        </div>
        <div class="form-group col-3">
          <label class="switch">
            <input type="checkbox" name="tradent_compareWithQ1" />
            <span class="slider"></span>
          </label>
          <label for="" class="font-weight-bold">Q2 compete with Q1</label>
        </div>
        <div class="form-group col-3">
          <label class="switch">
            <input type="checkbox" name="tradent_applyBuyBox" />
            <span class="slider"></span>
          </label>
          <label for="" class="font-weight-bold">Apply Buy Box</label>
        </div>
        <div class="form-group col-3">
          <label class="switch">
            <input type="checkbox" name="tradent_applyNcForBuyBox" />
            <span class="slider"></span>
          </label>
          <label for="" class="font-weight-bold">Apply NC For Buy Box</label>
        </div>
        <!-- <div class="form-group col-3">
          <label class="switch">
            <input type="checkbox" name="tradent_isScrapeOnlyActivated">
            <span class="slider"></span>
          </label>
          <label for="" class="font-weight-bold">Data - Scrape</label>
        </div> -->
        <!-- </div>
      <div class="row no-gutters"> -->
        <div class="form-group col-3">
          <label class="switch">
            <input type="checkbox" name="tradent_includeInactiveVendors" />
            <span class="slider"></span>
          </label>
          <label for="" class="font-weight-bold"
            >Include Inactive Vendors (On/Off)</label
          >
        </div>
        <div class="form-group col-3">
          <label class="switch">
            <input type="checkbox" name="tradent_override_bulk_update" />
            <span class="slider"></span>
          </label>
          <label for="" class="font-weight-bold"
            >Override Bulk Update (On/Off)</label
          >
        </div>
        <div class="form-group col-3">
          <label class="switch">
            <input type="checkbox" name="tradent_suppressPriceBreakForOne" />
            <span class="slider"></span>
          </label>
          <label for="" class="font-weight-bold"
            >Suppress Price Break if Qty 1 not updated</label
          >
        </div>
        <div class="form-group col-3">
          <label class="switch">
            <input type="checkbox" name="tradent_beatQPrice" />
            <span class="slider"></span>
          </label>
          <label for="" class="font-weight-bold"
            >Compete On Price Breaks Only</label
          >
        </div>
        <!-- <div class="form-group col-3">
          <label class="switch">
            <input type="checkbox" name="tradent_isBadgeItem">
            <span class="slider"></span>
          </label>
          <label for="" class="font-weight-bold">Is Badge Item?</label>
        </div> -->
      </div>
    </form>
    <h5 id="nodata_text_tradent">No Data</h5>
  </div>
</div>
<script>
  document.getElementById("nodata_text_tradent").style.display = "none";
  document.getElementById("checkData_tradent").onclick = function () {
    if (this.checked) {
      document.getElementById("add_item_form_tradent").style.display = "none";
      document.getElementById("tradent_data").style.display = "none";
      document.getElementById("nodata_text_tradent").style.display = "block";
    } else {
      document.getElementById("add_item_form_tradent").removeAttribute("style");
      document.getElementById("tradent_data").removeAttribute("style");
      document.getElementById("nodata_text_tradent").style.display = "none";
    }
  };
</script>
